@model WebShop.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Edit Order";
    ViewBag.SaveButton = "Save";
}

<h2>Edit Order</h2>

@{
    Html.RenderPartial("_OrderEdit");
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
